<!DOCTYPE html>
<html>
<head>
    <title>Работа с массивами. Добавление и удаление</title>
    <meta charset="utf-8" />
    <script src="https://unpkg.com/vue"></script>
</head>
<body>
<div id="app">
    <input v-model="start" type="number" />
    <input v-model="end" type="number" />
    <ul>
        <li v-for="phone in visibleList">
            <p>{{ phone }}</p>
    </ul>
</div>
<script src="https://unpkg.com/vue"></script>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            start:0,
            end:3,
            phones: ['iPhone 7', 'Galaxy S8', 'Nokia N8', 'Xiaomi Mi6']
        },
        computed:{
            visibleList: function(){
                return this.phones.slice(this.start,this.end);
            }
        }
    });
</script>
</body>
</html>