<!DOCTYPE html>
<html>
<head>
    <title>Привязка флажков к объекту</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
</head>
<body>
<div id="app" class="col-md-4">
    <template v-for="(user,index) in users">
        <input v-bind:id="index" type="checkbox" v-bind:value="user" v-model="selectedUsers">
        <label v-bind:for="index">{{user.name}}</label><br>
    </template>

    <ul>
        <li v-for="user in selectedUsers">{{user.name}} - {{user.age}}</li>
    </ul>
</div>
<script src="https://unpkg.com/vue"></script>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            users:[
                {name:'Tom', age:22},
                {name:'Bob', age:25},
                {name:'Sam', age:28},
                {name:'Alice', age:26}
            ],
            selectedUsers:[]
        }
    });
</script>
</body>
</html>