<!DOCTYPE html>
<html>
<head>
    <title>Переключатели</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
</head>
<body>
<div id="app">
    <template v-for="(value,key) in radio">
        <input v-bind:value="value" v-bind:id="key" type="radio" v-model="user"/>
        <label v-bind:for="key">{{value}}</label><br>
    </template>
    <span>Выбрано: {{ user }}</span>
</div>
<script src="https://unpkg.com/vue"></script>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            radio:['Tom','Bob','Sam'],
            user:''
        }
    });
</script>

</body>
</html>