<!DOCTYPE html>
<html>
<head>
    <title>Список привязка к массиву объектов</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <script src="https://unpkg.com/vue"></script>

</head>
<body>
<div id="app">
    <select v-model="selectedUser" v-bind:style="cmpStyle" multiple>
        <option v-for="(user,index) in users" v-bind:value="user">{{index+1}} {{user.name}}</option>
    </select>
    <div v-if="selectedUser!==null">Выбрано: {{selectedUser}}</div>
</div>

<script>
    var app = new Vue({
        el: '#app',
        data: {
            users:[
                {name:'Tom', age:22},
                {name:'Bob', age:25},
                {name:'Sam', age:28},
                {name:'Alice', age:26}
            ],
            selectedUser: '',
            cmpStyle: {width: '200px'}
        }
    });
</script>
</body>
</html>