<!DOCTYPE html>
<html>
<head>
    <title>Список привязка к массиву объектов</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <script src="https://unpkg.com/vue"></script>

</head>
<body>
<div id="app">
    <select v-model="selectedUsers" multiple>
        <option v-for="user in users" v-bind:value="user">{{user.name}}</option>
    </select>
    <h3>Выбранные объекты</h3>
    <ul>
        <li v-for="user in selectedUsers">{{user.name}} - {{user.age}}</li>
    </ul>
</div>
<script src="https://unpkg.com/vue"></script>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            users:[
                {name:'Tom', age:22},
                {name:'Bob', age:25},
                {name:'Sam', age:28},
                {name:'Alice', age:26}
            ],
            selectedUsers:[]
        }
    });
</script>
</body>
</html>